[MASTER]
profile=no 
ignore=.hg

[MESSAGES CONTROL] 
disable-msg=C0111

[REPORTS]
reports=no

[FORMAT]
# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab).
indent-string='  '

# Maximum number of characters on a single line.
max-line-length=100

[VARIABLES]
dummy-variables-rgx=_|dummy|unused_|cls

