Source: key-mon
Section: graphics
Priority: optional
Maintainer: Scott Kirkwood <scott@forusers.com>
Build-Depends: cdbs, debhelper (>= 7), python3 (>= 3.5)
XS-Python-Version: >= 3.5
Standards-Version: 3.9.3
Homepage: https://github.com/scottkirkwood/key-mon/
Vcs-Git: https://github.com/scottkirkwood/key-mon.git
Vcs-Browser: https://github.com/scottkirkwood/key-mon/

Package: keymon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python3-xlib,
  python3-gi, python3-gi-cairo, gir1.2-gtk-3.0, librsvg2-common
XB-Python-Version: ${python:Versions}
Description: Screencast utility that displays your keyboard and mouse status
 Key-mon is useful for teaching since it shows the current status of your
 keyboard and mouse and you use them in another application.
 .
 No longer do you need to say 'Now I'm pressing the Ctrl-D key', your students
 can just see the keystroke for themselves.
